article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    transition: all .5s ease 0s
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=password] {
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px
}

.post-password-required input[type=submit] {
    padding: 19px 20px 17px !important;
    border-radius: 0
}

.page .comments-area {
    padding: 35px 0 0;
    clear: both
}

.page .comments-area .comment-list li.comment {
    padding: 0;
    margin: 20px 0 25px;
    border-radius: 3px;
    list-style: none
}

.page .comment-full {
    padding-top: 30px
}

.page .comments-area .comment-list li.comment #respond {
    padding-top: 20px
}

.wp-block-button__link {
    color: #fff !important
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

label {
    font-weight: 600
}

td,
th {
    padding: 5px 10px;
    border: 1px solid #ccc
}

.owl-stage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box
}

.comments-area .comment-list li.comment:last-child .comment-full {
    border-bottom: none;
    padding-bottom: 0
}

.comment-list .pingback,
.comment-list .trackback {
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #fdfdfd
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both
}

dfn,
cite,
em,
i {
    font-style: italic
}

address {
    margin: 0 0 1.5em
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em
}

code,
kbd,
tt,
var {
    font-size: 15px
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

mark,
ins {
    text-decoration: none
}

big {
    font-size: 125%
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    background: #fff
}

blockquote:after,
q:before,
q:after {
    content: ""
}

blockquote,
q {
    quotes: """"
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em
}

ul,
ol,
ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0 0 1.5em 3em
}

ul {
    list-style: disc
}

ol {
    list-style: decimal;
    padding: 0
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1.5em
}

dt {
    font-weight: 700;
    padding-bottom: 5px
}

dd {
    margin: 0 1.5em 1.5em
}

img {
    height: auto;
    max-width: 100%
}

figure {
    margin: 1em 0
}

table {
    margin: 0 0 1.5em;
    width: 100%
}

.full-blog-content .blog-title a,
.reactheme-breadcrumbs .page-title {
    word-break: break-word
}

.menu-toggle,
.main-navigation.toggled ul {
    display: block
}

@media screen and (min-width:37.5em) {
    .menu-toggle {
        display: none
    }
    .main-navigation ul {
        display: block
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

#content[tabindex="-1"]:focus {
    outline: 0
}

#wp-calendar th,
#wp-calendar td {
    padding: 5px;
    text-align: center
}

.react-sideabr .widget-title a.rsswidget {
    color: #0a0a0a
}

.react-sideabr .widget_rss ul li:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0
}

body.home.blog .blog-img img {
    width: auto !important
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    clear: right
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed
}

.clear-fix,
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both
}

.widget {
    margin: 0 0 3em
}

.widget select {
    max-width: 100%;
    width: 100%;
    padding: 16px 8px
}

.sticky {
    display: block
}

.updated:not(.published) {
    display: none
}

.archive .page-header {
    margin-bottom: 35px
}

.archive-post {
    margin-bottom: 10px;
    overflow: hidden
}

.archive-post h3.blog-title {
    margin-bottom: 7px;
    font-size: 22px !important
}

.archive-post .blog-meta {
    padding-bottom: 15px
}

.search .entry-header h2 {
    margin-bottom: 10px !important;
    font-size: 22px !important
}

.search .pagination-area {
    padding-top: 0
}

.sticky_form {
    display: none
}

select {
    width: 100%
}

.comment-content a {
    word-wrap: break-word
}

.bypostauthor {
    display: block
}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none
}

.infinity-end.neverending .site-footer {
    display: block
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0
}

embed,
iframe,
object {
    max-width: 100%
}

img.default-logo,
img.footer-logo-light {
    height: 32px
}

.custom-logo-link {
    display: inline-block
}

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption .wp-caption-text {
    margin: .8075em 0;
    font-size: 13px;
    font-style: italic
}

.fowh2 .reactheme-heading .title-inner .title {
    font-weight: 500 !important
}

.mfp-bottom-bar .mfp-title .gallery-title-wrap {
    display: none
}

.gallery {
    margin-bottom: 1.5em
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33333%
}

.gallery-columns-4 .gallery-item {
    max-width: 25%
}

.gallery-columns-5 .gallery-item {
    max-width: 20%
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66667%
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28571%
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11111%
}

.gallery-caption {
    display: block
}

.top50 {
    position: relative;
    top: -50px
}

.header-logo .logo-area h1.site-title a {
    line-height: 45px !important
}

.link-clear {
    clear: both;
    display: block;
    padding-top: 15px
}

li.pingback,
li.trackback {
    line-height: 30px
}

.pingback .comment-body a,
.trackback .comment-body a {
    display: block;
    font-weight: 700;
    font-size: 18px
}

.pingback .comment-body span.edit-link a,
.trackback .comment-body span.edit-link a {
    font-weight: 400 !important;
    font-size: 14px !important
}

.wp-block-cover,
.wp-block-cover-image {
    margin-bottom: 25px
}

.wp-block-media-text.alignfull.has-media-on-the-right.is-stacked-on-mobile {
    margin-bottom: 22px
}

.single-content-full .gallery-item .gallery-caption {
    padding: 8px 15px 0
}

.wp-block-gallery {
    margin-bottom: 26px
}

.columns-3.is-cropped.alignfull .blocks-gallery-caption {
    padding-left: 14px
}

#reactheme-header.menugap-minus .logo-area .site-title a {
    padding-bottom: 5px
}

.wp-block-archives.wp-block-archives-dropdown:after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    position: absolute;
    right: 14px;
    top: 53%;
    font-size: 20px;
    color: #171f32;
    z-index: 0;
    pointer-events: none;
    transform: translate(0px, -50%)
}

.reservation-two .metform-btn {
    width: 100%
}

section.menu-wide .elementor-widget,
section.menu-wide .elementor-widget-wrap,
section.menu-wide .elementor-column,
section.menu-wide .elementor-container {
    position: static
}

.loader-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.home-soon a {
    pointer-events: none
}

.home-soon img {
    filter: grayscale(1)
}

.rts-bread-crumb-area .wrapper .bg-text-stok {
    font-size: 200px;
    color: #fff;
    -webkit-text-fill-color: #8d8a8a00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(189, 189, 189, .36);
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    min-width: max-content
}

.rts-bread-crumb-area .wrapper .title {
    position: relative
}