.elementor-3975 .elementor-element.elementor-element-667be13 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))*100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: .3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0 0 1px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: #FFFFFF1C;
    --border-color: #FFFFFF1C;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-3975 .elementor-element.elementor-element-667be13:not(.elementor-motion-effects-element-type-background),
.elementor-3975 .elementor-element.elementor-element-667be13>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF0D
}

.elementor-3975 .elementor-element.elementor-element-667be13,
.elementor-3975 .elementor-element.elementor-element-667be13:before {
    --border-transition: .3s
}

.elementor-3975 .elementor-element.elementor-element-139301a {
    --display: flex;
    --background-transition: .3s
}

.elementor-3975 .elementor-element.elementor-element-26810ca .hfe-site-logo {
    text-align: right
}

.elementor-3975 .elementor-element.elementor-element-26810ca .hfe-site-logo .hfe-site-logo-container img {
    width: 203px
}

.elementor-3975 .elementor-element.elementor-element-26810ca .widget-image-caption {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-3975 .elementor-element.elementor-element-26810ca>.elementor-widget-container {
    padding: 0 75px 0 0
}

.elementor-3975 .elementor-element.elementor-element-26810ca .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none
}

.elementor-3975 .elementor-element.elementor-element-7eb0526 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: .3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0 0 0 1px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 1px;
    border-color: #FFFFFF1C;
    --border-color: #FFFFFF1C;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-3975 .elementor-element.elementor-element-7eb0526,
.elementor-3975 .elementor-element.elementor-element-7eb0526:before {
    --border-transition: .3s
}

.elementor-3975 .elementor-element.elementor-element-3adea69 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: .3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0 0 1px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: #FFFFFF1C;
    --border-color: #FFFFFF1C;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 50px;
    --padding-right: 10px
}

.elementor-3975 .elementor-element.elementor-element-3adea69,
.elementor-3975 .elementor-element.elementor-element-3adea69:before {
    --border-transition: .3s
}

.elementor-3975 .elementor-element.elementor-element-1ef9ea0 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: .3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-3975 .elementor-element.elementor-element-29453b9>.elementor-widget-container {
    margin: 0
}

.elementor-3975 .elementor-element.elementor-element-29453b9.elementor-element {
    --align-self: flex-start
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2)
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(30px/2)
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(30px/2);
    margin-left: calc(30px/2)
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-30px/2);
    margin-left: calc(-30px/2)
}

body.rtl .elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-30px/2)
}

body:not(.rtl) .elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-30px/2)
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    height: 45%;
    border-color: #DDDDDD59
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 1px
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 1px
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-icon i {
    color: #fff;
    transition: color .3s
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-icon svg {
    fill: #fff;
    transition: fill .3s
}

.elementor-3975 .elementor-element.elementor-element-29453b9 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-text {
    color: #fff;
    transition: color .3s
}

.elementor-3975 .elementor-element.elementor-element-434d5e2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --gap: 0px 30px;
    --background-transition: .3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-3975 .elementor-element.elementor-element-69956e7 {
    --icon-box-icon-margin: 7px
}

.elementor-3975 .elementor-element.elementor-element-69956e7.elementor-view-stacked .elementor-icon {
    background-color: #fff
}

.elementor-3975 .elementor-element.elementor-element-69956e7.elementor-view-framed .elementor-icon,
.elementor-3975 .elementor-element.elementor-element-69956e7.elementor-view-default .elementor-icon {
    fill: #fff;
    color: #fff;
    border-color: #fff
}

.elementor-3975 .elementor-element.elementor-element-69956e7 .elementor-icon {
    font-size: 16px
}

.elementor-3975 .elementor-element.elementor-element-69956e7 .elementor-icon-box-title {
    color: #fff
}

.elementor-3975 .elementor-element.elementor-element-69956e7 .elementor-icon-box-title,
.elementor-3975 .elementor-element.elementor-element-69956e7 .elementor-icon-box-title a {
    font-weight: 600
}

.elementor-3975 .elementor-element.elementor-element-ce1cbfc {
    --icon-box-icon-margin: 15px
}

.elementor-3975 .elementor-element.elementor-element-ce1cbfc.elementor-view-stacked .elementor-icon {
    background-color: #fff
}

.elementor-3975 .elementor-element.elementor-element-ce1cbfc.elementor-view-framed .elementor-icon,
.elementor-3975 .elementor-element.elementor-element-ce1cbfc.elementor-view-default .elementor-icon {
    fill: #fff;
    color: #fff;
    border-color: #fff
}

.elementor-3975 .elementor-element.elementor-element-ce1cbfc .elementor-icon {
    font-size: 15px
}

.elementor-3975 .elementor-element.elementor-element-ce1cbfc .elementor-icon-box-title {
    color: #fff
}

.elementor-3975 .elementor-element.elementor-element-ce1cbfc .elementor-icon-box-title,
.elementor-3975 .elementor-element.elementor-element-ce1cbfc .elementor-icon-box-title a {
    font-weight: 600
}

.elementor-3975 .elementor-element.elementor-element-c3cf7ac {
    --icon-box-icon-margin: 15px
}

.elementor-3975 .elementor-element.elementor-element-c3cf7ac.elementor-view-stacked .elementor-icon {
    background-color: #fff
}

.elementor-3975 .elementor-element.elementor-element-c3cf7ac.elementor-view-framed .elementor-icon,
.elementor-3975 .elementor-element.elementor-element-c3cf7ac.elementor-view-default .elementor-icon {
    fill: #fff;
    color: #fff;
    border-color: #fff
}

.elementor-3975 .elementor-element.elementor-element-c3cf7ac .elementor-icon {
    font-size: 15px
}

.elementor-3975 .elementor-element.elementor-element-c3cf7ac .elementor-icon-box-title {
    color: #fff
}

.elementor-3975 .elementor-element.elementor-element-c3cf7ac .elementor-icon-box-title,
.elementor-3975 .elementor-element.elementor-element-c3cf7ac .elementor-icon-box-title a {
    font-weight: 600
}

.elementor-3975 .elementor-element.elementor-element-87f5d18 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))*100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: .3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 18px;
    --padding-right: 10px
}

.elementor-3975 .elementor-element.elementor-element-daaef1b {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: .3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu>.menu-item>.menu-link {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 32px;
    padding-bottom: 32px
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu>.menu-item>.menu-link {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 32px;
    padding-bottom: 32px
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) {
    min-width: 220px;
    width: 220px
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu:not(.rtmegamenu-contents) {
    min-width: 220px;
    width: 220px
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu {
    border-radius: 0 0 10px 10px
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu {
    border-radius: 0 0 10px 10px
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu .menu-item .menu-link {
    border-radius: 0 0 10px 10px;
    color: #1d1d1e
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu .menu-item .menu-link {
    border-radius: 0 0 10px 10px;
    color: #1d1d1e
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-megamenu>.menu-item>.menu-link {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-3975 .elementor-element.elementor-element-d784479 li.menu-item .menu-desc {
    display: none
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item .menu-link,
.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item .menu-link {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item .menu-link {
    color: #fff
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item .menu-link {
    color: #fff
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item:hover>.menu-link {
    color: #FFFFFF96
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item:hover>.menu-link {
    color: #FFFFFF96
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item.current-menu-item>.menu-link {
    color: #FFFFFF96
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item.current-menu-item>.menu-link {
    color: #FFFFFF96
}

header.sticky-header {
    background: #1d1d1e !important
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu .menu-item:hover>.menu-link {
    background-color: #F5F5F5D4
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu .menu-item:hover>.menu-link {
    background-color: #F5F5F5D4
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu .menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #C4C4C438;
    border-bottom-width: 1px
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu .menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #C4C4C438;
    border-bottom-width: 1px
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item ul.sub-menu .menu-item .menu-link .menu-desc {
    color: #497696
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item ul.sub-menu .menu-item .menu-link .menu-desc {
    color: #497696
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-megamenu .menu-item:hover>.menu-link {
    color: #3358d3
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-megamenu .menu-item.current-menu-item>.menu-link {
    color: #3358d3
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-mobile-button svg rect {
    fill: #fff
}

.elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-menu-mobile-close {
    margin: 0 0 0 33px;
    border-radius: 100px;
    background: #3358d3
}

.elementor-3975 .elementor-element.elementor-element-f09b104 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))*100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: .3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px
}

.elementor-3975 .elementor-element.elementor-element-c01fbf2>.elementor-widget-container {
    margin: 0
}

.elementor-3975 .elementor-element.elementor-element-c01fbf2 .react-button i {
    margin-left: 3px
}

.elementor-3975 .elementor-element.elementor-element-c01fbf2 .react-button a svg {
    margin-left: 3px
}

.elementor-3975 .elementor-element.elementor-element-c01fbf2 .rt_btn_render i {
    margin-left: 3px
}

.elementor-3975 .elementor-element.elementor-element-c01fbf2 .rt_btn_render a svg {
    margin-left: 3px
}

.elementor-3975 .elementor-element.elementor-element-c01fbf2 .react-button a {
    border-radius: 30px
}

.elementor-3975 .elementor-element.elementor-element-8294717>.elementor-widget-container {
    margin: 0 13px
}

@media(max-width:1366px) {
    .elementor-3975 .elementor-element.elementor-element-26810ca>.elementor-widget-container {
        padding: 0
    }
    .elementor-3975 .elementor-element.elementor-element-3adea69 {
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 16px;
        --padding-right: 10px
    }
    .elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-3975 .elementor-element.elementor-element-29453b9 .elementor-icon-list-item>a {
        font-size: 14px
    }
    .elementor-3975 .elementor-element.elementor-element-69956e7 {
        --icon-box-icon-margin: 3px
    }
    .elementor-3975 .elementor-element.elementor-element-69956e7 .elementor-icon-box-title,
    .elementor-3975 .elementor-element.elementor-element-69956e7 .elementor-icon-box-title a {
        font-size: 14px
    }
    .elementor-3975 .elementor-element.elementor-element-ce1cbfc {
        --icon-box-icon-margin: 4px
    }
    .elementor-3975 .elementor-element.elementor-element-ce1cbfc .elementor-icon-box-title,
    .elementor-3975 .elementor-element.elementor-element-ce1cbfc .elementor-icon-box-title a {
        font-size: 14px
    }
    .elementor-3975 .elementor-element.elementor-element-c3cf7ac {
        --icon-box-icon-margin: 10px
    }
    .elementor-3975 .elementor-element.elementor-element-c3cf7ac .elementor-icon-box-title,
    .elementor-3975 .elementor-element.elementor-element-c3cf7ac .elementor-icon-box-title a {
        font-size: 14px
    }
    .elementor-3975 .elementor-element.elementor-element-87f5d18 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu>.menu-item>.menu-link {
        padding-left: 0;
        padding-right: 0
    }
    .elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu>.menu-item>.menu-link {
        padding-left: 0;
        padding-right: 0
    }
    .elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .desktop-menu-area .rtmega-megamenu .menu-item .menu-link,
    .elementor-3975 .elementor-element.elementor-element-d784479 .rtmega-menu-container .vertical-expaned-menu-area .rtmega-megamenu .menu-item .menu-link {
        font-size: 12px
    }
    .elementor-3975 .elementor-element.elementor-element-c01fbf2 .react-button a,
    .elementor-3975 .elementor-element.elementor-element-c01fbf2 .rt_btn_render a {
        font-size: 13px
    }
    .elementor-3975 .elementor-element.elementor-element-c01fbf2 .react-button a {
        padding: 8px 15px
    }
}

@media(max-width:1024px) {
    .elementor-3975 .elementor-element.elementor-element-139301a {
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 20px
    }
    .elementor-3975 .elementor-element.elementor-element-26810ca>.elementor-widget-container {
        padding: 0
    }
    .elementor-3975 .elementor-element.elementor-element-29453b9 {
        width: 100%;
        max-width: 100%
    }
    .elementor-3975 .elementor-element.elementor-element-87f5d18 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-3975 .elementor-element.elementor-element-daaef1b {
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 15px;
        --padding-right: 15px
    }
    .elementor-3975 .elementor-element.elementor-element-f09b104 {
        --justify-content: flex-end;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow))*100%);
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 15px;
        --padding-right: 15px
    }
    .elementor-3975 .elementor-element.elementor-element-8294717>.elementor-widget-container {
        margin: 0
    }
}

@media(max-width:767px) {
    .elementor-3975 .elementor-element.elementor-element-26810ca .hfe-site-logo {
        text-align: center
    }
    .elementor-3975 .elementor-element.elementor-element-26810ca .hfe-site-logo .hfe-site-logo-container img {
        width: 146px
    }
    .elementor-3975 .elementor-element.elementor-element-daaef1b {
        --width: 20%
    }
    .elementor-3975 .elementor-element.elementor-element-f09b104 {
        --width: 80%
    }
}

@media(min-width:768px) {
    .elementor-3975 .elementor-element.elementor-element-139301a {
        --width: 22%
    }
    .elementor-3975 .elementor-element.elementor-element-7eb0526 {
        --width: 78%
    }
    .elementor-3975 .elementor-element.elementor-element-1ef9ea0 {
        --width: 69%
    }
    .elementor-3975 .elementor-element.elementor-element-434d5e2 {
        --width: 31%
    }
    .elementor-3975 .elementor-element.elementor-element-daaef1b {
        --width: 65%
    }
    .elementor-3975 .elementor-element.elementor-element-f09b104 {
        --width: 35%
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-3975 .elementor-element.elementor-element-139301a {
        --width: 16%
    }
    .elementor-3975 .elementor-element.elementor-element-7eb0526 {
        --width: 84%
    }
    .elementor-3975 .elementor-element.elementor-element-1ef9ea0 {
        --width: 58%
    }
    .elementor-3975 .elementor-element.elementor-element-434d5e2 {
        --width: 41%
    }
    .elementor-3975 .elementor-element.elementor-element-daaef1b {
        --width: 58%
    }
    .elementor-3975 .elementor-element.elementor-element-f09b104 {
        --width: 42%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3975 .elementor-element.elementor-element-139301a {
        --width: 25%
    }
    .elementor-3975 .elementor-element.elementor-element-7eb0526 {
        --width: 75%
    }
    .elementor-3975 .elementor-element.elementor-element-1ef9ea0 {
        --width: 100%
    }
}