:root {
    --primaryColor: #df0a0a;
    --titleColor: #0a0a0a
}

.sticky-header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0px 7px 18px rgba(24, 16, 16, .0509803922);
    transition: all .3s ease-in-out
}

body.logged-in .sticky-header {
    top: 32px
}

@media (max-width:1024px) {
    body.logged-in .sticky-header {
        top: 0
    }
}

body.logged-in .rtmega-menu-mobile-sidebar {
    top: 10px !important
}

body.logged-in .rtmega-menu-area .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-menu-mobile-close {
    top: 35px
}

body.logged-in .rtmega-menu-area .mobile-menu-area .rtmega-menu-mobile-sidebar ul.rtmega-megamenu {
    padding-top: 35px
}

ul.menu li.menu-item-has-children:after {
    display: none !important
}

.rtmega-menu-mobile-button svg {
    width: 20px
}

.rtmega-menu-area {
    width: -moz-fit-content;
    width: fit-content;
    display: flex
}

.rtmega-menu-area.enabled-vertical-menu {
    display: unset
}

.rtmega-menu-area .rtmega-menu-mobile-button-wrapper .rtmega-menu-mobile-button {
    height: 40px;
    width: 30px
}

.rtmega-menu-area .rtmega-menu-mobile-button-wrapper .rtmega-menu-mobile-button svg {
    height: 100%
}

.rtmega-menu-area.rtmega-menu-mobile-button-wrapper {
    display: none
}

@media (max-width:1024px) {
    .rtmega-menu-area .desktop-menu-area {
        display: none
    }
    .rtmega-menu-area.enabled-mobile-menu.rtmega-menu-mobile-button-wrapper {
        display: flex
    }
    .rtmega-menu-area.enabled-mobile-menu .mobile-menu-area {
        display: block !important
    }
    .rtmega-menu-area.enabled-desktop-menu .desktop-menu-area {
        display: flex
    }
    .rtmega-menu-area body.logged-in .menu-wrap-off {
        padding: 63px 30px 50px
    }
    .rtmega-menu-area .menu-wrap-off {
        padding: 46px 30px 50px 24px
    }
    .rtmega-menu-area .rtmega-menu-area ul.rtmega-megamenu>.menu-item {
        padding-left: 0;
        padding-right: 0
    }
}

.rtmega-menu-area .menu-wrapper {
    display: flex
}

.rtmega-menu-area ul.rtmega-megamenu {
    display: flex;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
    padding-left: 0
}

.rtmega-menu-area ul.rtmega-megamenu>.menu-item {
    padding-left: 15px;
    padding-right: 15px
}

.rtmega-menu-area ul.rtmega-megamenu>.menu-item .submenu-parent-icon svg {
    height: 12px;
    margin-left: 5px;
    fill: currentColor
}

.rtmega-menu-area ul.rtmega-megamenu>.menu-item .menu-link {
    display: block;
    display: block
}

.rtmega-menu-area ul.rtmega-megamenu>.menu-item.rtmega_menu {
    display: block !important
}

.rtmega-menu-area ul.rtmega-megamenu>.menu-item.rtmega_menu ul.sub-menu.menu-odd.menu-depth-1 {
    display: none
}

.rtmega-menu-area ul.rtmega-megamenu ul.sub-menu {
    list-style: none;
    padding-left: 0;
    text-align: left;
    margin-left: 0
}

.rtmega-menu-area ul.rtmega-megamenu ul.sub-menu .menu-item {
    background: 0 0
}

.rtmega-menu-area ul.rtmega-megamenu ul.sub-menu .menu-item .menu-link {
    line-height: 25px;
    padding: 12px 35px 12px 25px;
    display: block;
    width: 100%;
    background: 0 0
}

.rtmega-menu-area ul.rtmega-megamenu ul.sub-menu .menu-item .menu-link .menu-desc {
    font-size: 14px
}

.rtmega-menu-area ul.rtmega-megamenu ul.sub-menu .menu-item .description {
    display: none
}

.rtmega-menu-area ul.rtmega-megamenu.vertical {
    display: block
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu>.menu-item .menu-link {
    position: relative
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu>.menu-item .menu-link .pointer-underline {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: all .3s ease-in-out
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu>.menu-item .menu-link:hover .pointer-underline {
    width: 100%
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children {
    position: relative
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children.has-full-width-mega-menu {
    position: static
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children.rtmega_menu {
    position: static
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children .sub-menu {
    transform: scaleY(0);
    opacity: 0;
    transition: .3s ease-in-out;
    transform-origin: top;
    position: absolute;
    z-index: 9;
    list-style: none;
    box-shadow: 0 36px 35px rgba(0, 0, 0, .08);
    display: block !important;
    background: #fff;
    top: 100%
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children .sub-menu:not(.rtmegamenu-contents) {
    width: 250px
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children .sub-menu.rtmegamenu-contents {
    transform: scaleY(0);
    left: 0;
    right: 0;
    padding: 0 !important;
    width: 100%;
    margin: 0 auto
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children .sub-menu.rtmegamenu-contents.full-width-mega-menu {
    max-width: var(--container-max-width);
    width: var(--container-max-width);
    left: 50%;
    right: auto
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children .sub-menu .menu-item-has-children .menu-text {
    display: flex;
    justify-content: space-between
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children .sub-menu .menu-item-has-children .sub-menu {
    top: 20%;
    right: -100%
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children .menu-link .submenu-parent-icon svg {
    height: 12px;
    margin-left: 5px;
    fill: currentColor
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children.menu-item-has-children:hover>.sub-menu {
    display: block !important;
    transform: scaleY(1);
    opacity: 1
}

.rtmega-menu-area .desktop-menu-area ul.rtmega-megamenu .menu-item-has-children.menu-item-has-children:hover>.sub-menu.rtmegamenu-contents {
    transform: scaleY(1)
}

.rtmega-menu-area .mobile-menu-area.opened .overlay {
    position: fixed;
    width: 100%;
    background: #000;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: .5;
    z-index: 9999;
    visibility: visible;
    transform: translate3d(100%, 0, 0);
    right: 100%
}

.rtmega-menu-area .mobile-menu-area.opened .rtmega-menu-mobile-sidebar {
    transform: translate3d(0, 0, 0);
    transition: transform .8s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(.9, 0, .3, 1)
}

.rtmega-menu-area .mobile-menu-area.opened .rtmega-menu-mobile-sidebar ul.submenu {
    display: block
}

.rtmega-menu-area .mobile-menu-area .rtmega-menu-mobile-sidebar {
    position: fixed;
    z-index: 9999;
    width: 80%;
    right: 0;
    top: 0;
    height: 100%;
    background: #fff;
    padding: 46px 30px 50px;
    font-size: 1.15em;
    transform: translate3d(520px, 0, 0);
    transition: transform .4s;
    transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    max-width: 460px;
    overflow-y: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2)
}

.rtmega-menu-area .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-menu-mobile-close {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--primaryColor);
    color: #000;
    padding: 6px;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    line-height: 26px;
    cursor: pointer
}

.rtmega-menu-area .mobile-menu-area .rtmega-menu-mobile-sidebar .rtmega-menu-mobile-close svg {
    height: 100%;
    width: 100%;
    fill: #fff
}

.rtmega-menu-area .mobile-menu-area .rtmega-menu-mobile-sidebar ul.rtmega-megamenu {
    padding: 0 0 30px
}

.rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu {
    display: block
}

.rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu .menu-item.current-menu-item a.menu-link {
    color: var(--primaryColor)
}

.rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu .menu-item .menu-link {
    border-bottom: 1px solid #f3f3f3;
    color: var(--titleColor);
    cursor: pointer
}

.rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children {
    overflow: hidden;
    position: relative
}

.rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children .sub-menu {
    display: none;
    margin-left: 30px;
    padding-left: 0;
    width: 100%
}

.rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children .rtmegamenu-contents.sub-menu {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 99
}

.rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children .menu-text {
    display: flex;
    justify-content: space-between
}

.rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children .menu-text .submenu-parent-icon svg {
    height: 12px;
    margin-left: 5px;
    fill: currentColor
}

.rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu .menu-item:nth-last-child(1) .menu-link {
    border-bottom: none !important
}

.rtmega-menu-area .vertical-expaned-menu-area {
    position: relative
}

.rtmega-menu-area .vertical-expaned-menu-area.vertical-expaned-menu-area-bottom {
    position: inherit
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-expanded {
    width: 100%;
    background: #fff;
    transform: scaleY(0);
    opacity: 0;
    transition: .3s ease-in-out;
    transform-origin: top;
    position: absolute;
    z-index: 9;
    list-style: none;
    box-shadow: 0 36px 35px rgba(0, 0, 0, .08);
    display: block !important;
    top: 100%
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-expanded.expand-position-left {
    opacity: 1;
    transform: translateY(-50%) scaleY(1);
    top: -50%;
    left: 34px;
    transition: visibility .1s .64s, -webkit-clip-path .64s cubic-bezier(.53, .8, .38, .97);
    transition: clip-path .64s cubic-bezier(.53, .8, .38, .97), visibility .1s .64s;
    transition: clip-path .64s cubic-bezier(.53, .8, .38, .97), visibility .1s .64s, -webkit-clip-path .64s cubic-bezier(.53, .8, .38, .97);
    visibility: hidden;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0)
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-expanded.opened {
    transform: scaleY(1);
    opacity: 1
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-expanded.opened.expand-position-left {
    transform: translateY(-50%) scaleY(1) !important;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    visibility: visible;
    transition-delay: 0s, 0s
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-expanded .current-menu-item .menu-text {
    display: flex;
    justify-content: space-between
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-expanded .current-menu-item .vertical_menu_active_icon svg {
    height: 12px;
    margin-left: 5px;
    fill: var(--titleColor)
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu {
    display: block
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu .menu-item.current-menu-item a.menu-link {
    color: var(--primaryColor)
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu .menu-item .menu-link {
    border-bottom: 1px solid #f3f3f3;
    color: var(--titleColor);
    cursor: pointer;
    line-height: 25px;
    padding: 12px 35px 12px 25px
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children {
    overflow: visible;
    position: relative
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children .sub-menu {
    display: none;
    padding-left: 0;
    width: 100%
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children .rtmegamenu-contents.sub-menu {
    width: -moz-fit-content;
    width: fit-content;
    z-index: 99
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children .menu-text {
    display: flex;
    justify-content: space-between
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children .menu-text .submenu-parent-icon svg {
    height: 12px;
    margin-left: 5px;
    fill: currentColor
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu .menu-item:nth-last-child(1) .menu-link {
    border-bottom: none !important
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu.vertical-submenu-expand-mode-click .sub-menu {
    margin-left: 0;
    position: relative
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu.vertical-submenu-expand-mode-hover .menu-item-has-children {
    overflow: visible
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu.vertical-submenu-expand-mode-hover .menu-item-has-children .sub-menu {
    transform: scaleY(0);
    opacity: 0;
    transition: .3s ease-in-out;
    transform-origin: top;
    position: absolute;
    z-index: 9;
    list-style: none;
    box-shadow: 0 36px 35px rgba(0, 0, 0, .08);
    display: block !important;
    background: #fff;
    top: 50%;
    width: 250px;
    left: 100%;
    margin: 0
}

@media (max-width:1024px) {
    .rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu.vertical-submenu-expand-mode-hover .menu-item-has-children .sub-menu {
        left: 20px
    }
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu.vertical-submenu-expand-mode-hover .menu-item-has-children .sub-menu .rtmegamenu-contents {
    width: inherit
}

.rtmega-menu-area .vertical-expaned-menu-area ul.rtmega-megamenu.vertical-submenu-expand-mode-hover .menu-item-has-children:hover>.sub-menu {
    transform: scaleY(1);
    opacity: 1;
    display: block
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-always-expanded {
    position: static;
    background: 0 0;
    box-shadow: none
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-always-expanded ul.rtmega-megamenu.vertical>.menu-item {
    padding-left: 0;
    padding-right: 0
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-always-expanded ul.rtmega-megamenu.vertical>.menu-item .menu-link {
    border: none;
    padding: 12px 0
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-always-expanded ul.rtmega-megamenu.vertical>.menu-item .sub-menu .menu-item {
    padding-left: 15px;
    padding-right: 15px
}

.rtmega-menu-area .vertical-expaned-menu-area .rtmega-menu-vertical-always-expanded ul.rtmega-megamenu.vertical>.menu-item .sub-menu .menu-item .menu-link {
    border: none;
    padding: 12px 0
}

@media (max-width:1024px) {
    .rtmega-menu-area .mobile-menu-area ul.rtmega-megamenu .menu-item.menu-item-has-children .sub-menu {
        margin: 0;
        padding-top: 30px
    }
}