.elementor-1245 .elementor-element.elementor-element-b219741 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: .3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px
}

.elementor-1245 .elementor-element.elementor-element-69355f2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 20px;
    --background-transition: .3s;
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input {
    padding: 14px 20px;
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-file-upload-label {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-calculation-total {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_select__control,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__control .mf_multiselect__value-container,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__menu-notice--no-options {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper .range-slider {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-bar,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-from,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-to,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-single {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-handle {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-from:before,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-to:before,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-single:before {
    border-top-color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper .input-range__track--active {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #000;
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-calculation-total {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__menu-notice--no-options {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-calculation-total,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__option {
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e4
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input:hover,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-handle:hover {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-file-upload-label:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input:hover .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__menu-notice--no-options:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input:focus,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .irs--round .irs-handle:focus {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-file-upload-container:focus .mf-image-label,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-calculation-total:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-calculation-total:focus,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__option:focus,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__menu-notice--no-options:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .input-range .input-range__track {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-calculation-total {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf_multiselect__menu-notice--no-options {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-time-input:before {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input:-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 .mf-input:-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-dcb2f84 :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input {
    padding: 14px 20px;
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-file-upload-label {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-calculation-total {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_select__control,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__control .mf_multiselect__value-container,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__menu-notice--no-options {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper .range-slider {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input,
.elementor-1245 .elementor-element.elementor-element-910fc9b .elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-bar,
.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-from,
.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-to,
.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-single {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-handle {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-from:before,
.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-to:before,
.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-single:before {
    border-top-color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper .input-range__track--active {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #000;
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-calculation-total {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__menu-notice--no-options {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-calculation-total,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__option {
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e4
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input:hover,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-handle:hover {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-file-upload-label:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input:hover .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__menu-notice--no-options:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input:focus,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .irs--round .irs-handle:focus {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-file-upload-container:focus .mf-image-label,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-calculation-total:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-calculation-total:focus,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__option:focus,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__menu-notice--no-options:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .input-range .input-range__track {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-calculation-total {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-910fc9b .mf_multiselect__menu-notice--no-options {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-time-input:before {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input:-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-input:-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-910fc9b .mf-error-message {
    color: red
}

.elementor-1245 .elementor-element.elementor-element-a2050a4 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 20px;
    --background-transition: .3s;
    --margin-top: 0px;
    --margin-bottom: 20px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input {
    padding: 14px 20px;
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-file-upload-label {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-calculation-total {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_select__control,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__control .mf_multiselect__value-container,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__menu-notice--no-options {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper .range-slider {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-bar,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-from,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-to,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-single {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-handle {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-from:before,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-to:before,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-single:before {
    border-top-color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper .input-range__track--active {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #000;
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-calculation-total {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__menu-notice--no-options {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-calculation-total,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__option {
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e4
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input:hover,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-handle:hover {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-file-upload-label:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input:hover .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__menu-notice--no-options:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input:focus,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .irs--round .irs-handle:focus {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-file-upload-container:focus .mf-image-label,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-calculation-total:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-calculation-total:focus,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__option:focus,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__menu-notice--no-options:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .input-range .input-range__track {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-calculation-total {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf_multiselect__menu-notice--no-options {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-time-input:before {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input:-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e .mf-input:-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-1f0ec6e :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input {
    padding: 14px 20px;
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-file-upload-label {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-calculation-total {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf_select__control,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__control .mf_multiselect__value-container,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__menu-notice--no-options {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper .range-slider {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input,
.elementor-1245 .elementor-element.elementor-element-609011c .elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-bar,
.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-from,
.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-to,
.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-single {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-handle {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-from:before,
.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-to:before,
.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-single:before {
    border-top-color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper .input-range__track--active {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #000;
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-calculation-total {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__menu-notice--no-options {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-calculation-total,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__option {
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e4
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input:hover,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-handle:hover {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-file-upload-label:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input:hover .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__menu-notice--no-options:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input:focus,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .irs--round .irs-handle:focus {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-file-upload-container:focus .mf-image-label,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-calculation-total:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-calculation-total:focus,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__option:focus,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__menu-notice--no-options:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-609011c .input-range .input-range__track {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-calculation-total {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-609011c .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-609011c .mf_multiselect__menu-notice--no-options {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-time-input:before {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input:-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c .mf-input:-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-609011c :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-7150f2b {
    --display: flex;
    --background-transition: .3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-1245 .elementor-element.elementor-element-8693711 {
    width: 100%;
    max-width: 100%
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-textarea {
    height: 150px
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input {
    padding: 14px 20px;
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-file-upload-label {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-calculation-total {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf_select__control,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__control .mf_multiselect__value-container,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__menu-notice--no-options {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper .range-slider {
    padding: 14px 20px
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input,
.elementor-1245 .elementor-element.elementor-element-8693711 .elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-bar,
.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-from,
.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-to,
.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-single {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-handle {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-from:before,
.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-to:before,
.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-single:before {
    border-top-color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper .input-range__track--active {
    background-color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #000;
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-calculation-total {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__menu-notice--no-options {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-calculation-total,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__option {
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e4
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input:hover,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-handle:hover {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-file-upload-label:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input:hover .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__menu-notice--no-options:hover {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input:focus,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .irs--round .irs-handle:focus {
    border-color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-file-upload-container:focus .mf-image-label,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-calculation-total:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000;
    fill: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-calculation-total:focus,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__option:focus,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__menu-notice--no-options:focus {
    color: #000
}

.elementor-1245 .elementor-element.elementor-element-8693711 .input-range .input-range__track {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-calculation-total {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-select>.mf_select__control,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input-multiselect .mf_multiselect__control,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__option,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__multi-value__label,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__multi-value__remove,
.elementor-1245 .elementor-element.elementor-element-8693711 .mf_multiselect__menu-notice--no-options {
    border-radius: 5px
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio])::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input:not([type=submit]):not([type=checkbox]):not([type=radio]):-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-time-input:before {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input::-webkit-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input::-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input:-ms-input-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-8693711 .mf-input:-moz-placeholder {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-8693711 :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #c9c1c1
}

.elementor-1245 .elementor-element.elementor-element-298c4d3 .mf-btn-wraper {
    text-align: left
}

.elementor-1245 .elementor-element.elementor-element-298c4d3 .metform-btn:hover {
    background-color: #1d1d1e;
    color: #fff
}

.elementor-1245 .elementor-element.elementor-element-298c4d3 .metform-btn {
    padding: 18px 40px 19px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-style: none;
    border-radius: 30px
}

.elementor-1245 .elementor-element.elementor-element-298c4d3 .mf-btn-wraper svg {
    fill: #fff
}

.elementor-1245 .elementor-element.elementor-element-298c4d3 .mf-btn-wraper i {
    color: #fff
}

.elementor-1245 .elementor-element.elementor-element-298c4d3 .metform-btn:hover svg {
    fill: #fff
}

.elementor-1245 .elementor-element.elementor-element-298c4d3 .metform-btn:hover i {
    color: #fff
}

.elementor-1245 .elementor-element.elementor-element-298c4d3 .mf-btn-wraper svg {
    width: 15px
}

.elementor-1245 .elementor-element.elementor-element-298c4d3 .mf-btn-wraper i {
    font-size: 15px
}

@media(max-width:767px) {
    .elementor-1245 .elementor-element.elementor-element-dcb2f84 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%
    }
    .elementor-1245 .elementor-element.elementor-element-910fc9b>.elementor-widget-container {
        margin: 20px 0 0
    }
    .elementor-1245 .elementor-element.elementor-element-910fc9b {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%
    }
    .elementor-1245 .elementor-element.elementor-element-1f0ec6e {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%
    }
    .elementor-1245 .elementor-element.elementor-element-609011c>.elementor-widget-container {
        margin: 20px 0 0
    }
    .elementor-1245 .elementor-element.elementor-element-609011c {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%
    }
}